body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-right: 20px; /* Tạo khoảng cách giữa hai khung */
}

.measurement-container {
    text-align: left;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
}

h1 {
    color: #333;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:active {
    background-color: #e74c3c;
}

#resetButton {
    background-color: #ff0000;
    margin-top: 20px;
}

/* Căn lề cho dòng hiển thị giá trị đo được */
#counter, #receivedValue {
    font-size: 18px;
    color: #333;
}

p {
    margin: 15px 0;
}
